# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\工程\BackEnd\li_acm\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
